html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: 'black';
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  margin: 15px;
}

header * {
  display: inline;
}

iframe {
  float: left;
}

header h3 {
  margin: 0;
  width: 300px;
  float: right;
}

header h3 a {
  text-decoration: none;
}
